@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

.maxContent {
  font-family: "Acme", sans-serif;
  letter-spacing: 0.05em;
}
.maxAppContainer {
  height: 100%;
  display: flex;
  background-color: #fef7ec;
  justify-content: space-between;
  align-items: stretch;
}
.navItem {
  font-size: 2.5vw;
  cursor: pointer;
}
.maxSpacer {
  height: 60vh;
}
.navItemsContainer {
  padding-top: 1.5vw;
  margin-top: 0 !important;
  position: relative;
  padding-inline-start: 2vw;
}
.navItemsContainerFixed {
  padding-top: 1.5vw;
  margin-top: 0 !important;
  position: fixed;
  padding-inline-start: 2vw;
}
.maxHeader {
  font-family: "Acme";
  color: #1c1b1a;
  font-size: 17vw;
  text-align: left;
  line-height: 85%;
  margin-bottom: 10vw;
  letter-spacing: 0.04em;
}
.maxNav {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.maxMain {
  padding-left: 3vw;
  padding-right: 5vw;
  padding-bottom: 10vw;
  padding-top: 20px;
  flex: 4;
  background-color: #fef7ec;
}

li {
  list-style-type: none;
}
.beef {
  background-color: yellow;
}
.rawr {
  padding: 20px;
  height: 33px;
  width: 41px;
}
