@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Assistant|Pragati+Narrow:700|Work+Sans|Yatra+One&display=swap");

/* ===== PARENT ELEMENTS ===== */
div.maxAppContainer {
  width: 100vw !important;
  height: 100%;
  display: flex !important;
  background-color: #fef7ec;
  justify-content: space-between;
}

/* ===== CONTENT ===== */

.maxMain {
  color: #1d190e;
  padding-left: 3vw;
  padding-bottom: 1.3em;
  padding-top: 2.6vw;
  flex: 4 !important;
  background-color: #fef7ec;
}
.maxHeader {
  font-family: "Pragati Narrow", sans-serif;
  font-weight: 700;
  color: #1d190e;
  font-size: 15vw;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 75%;
  margin-bottom: 35vw;
  letter-spacing: 0.01em;
}
.maxContent {
  flex-wrap: wrap;
  width: inherit;
  font-family: sans-serif;
  letter-spacing: 0.05em;
}
section p {
  padding-bottom: 3vw;
  padding-right: 7vw;
  font-family: "Assistant", sans-serif;
  font-weight: 500 !important;
  font-size: 1.3em;
  line-height: 125%;
}
section span {
  font-size: 2.5em;
  font-family: "Pragati Narrow", sans-serif;
}
#willandree {
  margin-top: 25em;
  margin-right: 4vw;
  margin-bottom: 0.9em;
  background-color: #f7f3f0;
  padding: 20px 28px;
  border: solid 1px #1d190e;
  font-family: "Yatra One", sans-serif;
  color: #1d190e;
  font-size: 0.8em;
  float: right;
}
footer#willandree a {
  color: #1d190e;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
a#willLink::before {
  content: " ";
  display: block;
  position: absolute;
  border-bottom: solid 2px rgb(231, 226, 226);
  bottom: 1px;
  margin: 0 auto;
  transition: all 0.4s;
  left: 0%;
  width: 100%;
}
footer#willandree a:hover::before {
  border-bottom: solid 2px rgb(253, 124, 101);
  width: 100%;
  left: 0%;
}

/* ===== NAVIGATION ELEMENTS ====== */
.maxSpacer {
  position: relative;
  height: 75vh;
  width: 100%;
}
.maxNav {
  color: #1d190e;
  display: flex;
  flex-direction: column;
  flex: 1.25;
}
.maxName {
  font-family: "Archivo Black", sans-serif;
  color: #1d190e;
  font-weight: 500 !important;
  font-size: 1.3em;
  letter-spacing: 0.03em;
  padding-inline-start: 2.5vw;
  padding-top: 3vw;
  top: 0;
}
.navItem {
  font-size: 2.5vw;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.navItem a {
  text-decoration: none;
  color: #1d190e;
  position: relative;
}
.navItem a::before {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  background-color: rgba(255, 99, 71, 0.8);
  bottom: 0px;
  width: 100%;
  transform: scaleX(0);
  left: 0;
  margin: 0 auto;
  transform-origin: bottom left;
  transition-timing-function: ease-in-out;
  transition: all 0.3s;
  z-index: -1;
}
.navItem a:hover::before {
  transform: scaleX(1);
  background-color: #1d190e;
  left: 0%;
  bottom: 0px;
  transform-origin: bottom left;
}
.navItemsContainer {
  width: inherit;
  margin-top: 0 !important;
  top: 2vw;
  position: -webkit-sticky;
  position: sticky;
  padding-inline-start: 2.5vw;
}
li {
  list-style-type: none;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/* @media screen and (max-width: 900px) {
  .navItem a::before {
    height: 2px;
  }
} */

@media only screen and (max-width: 700px) {
  .maxNav {
    display: none;
  }
  #max {
    text-align: center;
  }
  .maxMain {
    padding-top: 6vw;
    padding-left: 6vw;
    flex: unset;
    padding-right: 6vw;
  }
  .maxHeader {
    font-size: 20vw;
    padding-bottom: 20vw;
  }
  .maxContent {
    padding-right: unset;
  }
  section p {
    padding-right: unset;
  }
  #willandree {
    margin-right: unset;
    margin-bottom: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  #willandree {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    float: none;
    font-size: 0.8em;
  }
  .maxMain {
    padding-bottom: 6vw;
  }
}
